.myPostsWrapper {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.13);
    margin: 5px 0;
    border-radius: 3px;
    padding: 5px
}
.btnStyle {
    min-width: 15%;
    background: rgba(57, 90, 119, 0.16);
    color: #bdbdbc;
    border-radius: 3px;
    transition: .3s;
}
.btnStyle:hover {
    background: rgba(57, 90, 119, 0.9);
    color: white;
    transform: scale(1.1);
    transition: .3s;
}
.textareaStyle{
    min-width: 20%;
    background: rgba(57, 90, 119, 0.42);
    color: white;
    border-radius: 3px;
}
::placeholder {
    color: black;
}


.postsArea {
    background: rgba(255, 255, 255, 0.13);
    margin: 5px 0;
    border-radius: 3px;
    padding: 10px;
    color: white;
}
.btnWrapper {
    display: flex;
    justify-content: space-around;
}
