.myPostsWrapper {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.13);
    margin: 5px 0;
    padding: 33px 5px 5px 5px;
    border-radius: 3px;
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    grid-area: b;
}

.btnStyle {
    width: 150px;
    margin: 15px 50px 15px 50px;
}

::placeholder {
    color: black;
}

.btnWrapper {
    display: flex;
    justify-content: space-around;
    margin: 15px 0 15px 0;
}

.postFormWrapper {
    display: flex;
    position: absolute;
    top: 58%
}
.postForm {
    display: flex;
}
.form {
    position: fixed;
}