.profileInfoWrapper {
    background: rgba(255, 255, 255, 0.13);
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: wheat;
    position: relative;
    top: 0;
    left: 0;
    grid-area: profileInfo;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
}

.profileInfoContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.spanWrapperActive {
    min-height: max-content;
    width: 200px;
    color: wheat;
    background: rgba(10, 70, 104, 0.16);
    border: 2px solid rgba(10, 70, 104, 0.25);
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 70%;
    left: calc(50% - 100px);
    animation-name: spanWrapperActive;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes spanWrapperActive {
    0% {
        position: absolute;
        top: 100%;
    }
    100% {
        position: absolute;
        top: 70%;
    }
}

.spanWrapperInactive {
    min-height: max-content;
    width: 200px;
    color: wheat;
    background: rgba(10, 70, 104, 0.16);
    border: 2px solid rgba(10, 70, 104, 0.25);
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: calc(50% - 100px);
    animation-name: spanWrapperInactive;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes spanWrapperInactive {
    0% {
        position: absolute;
        top: 70%;
    }
    100% {
        position: absolute;
        top: 100%;
    }
}
.dropMenuSpan {
    color: rgb(0, 0, 0);
    font-size: .5rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.closeBtnPosition {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 8;
}

.closeBtnActive:hover {
    transform: scale(1.3) rotate(45deg) !important;
}

.closeBtnActive {
    color: rgb(57, 90, 119);
    width: max-content;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: -12px;
    left: 100%;
    opacity: 0;
    animation-name: closeBtn;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes closeBtn {
    0% {
        opacity: 1;
        transform: scale(1) rotate(225deg)
    }
    50% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1) rotate(225deg);
        opacity: 1;
    }
}

.closeBtnInactive {
    color: rgb(57, 90, 119);
    width: max-content;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: -12px;
    left: 100%;
}

.sameAvatarParams {
    position: absolute;
    top: 15%;
    height: 40vh;
    min-width: 34vh;
    left: calc(50% - 17vh);
}

.selectedAva {
    position: absolute;
    top: 20%;
    min-width: 250px;
    height: 250px;
    border-radius: 100%;
    left: calc(50% - 125px);
}

.avatarBtnWrapper {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.AvaFormActive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AvaFormInactive {
    display: none;
}

.inputStyle {
    background: rgba(57, 90, 119, 0.42);
    color: white;
    border-radius: 3px;
    border: 1px solid #ffffff;
    transition: .3s;
}

.inputStyle:hover {
    background: rgba(57, 90, 119, 0.9);
    transition: .3s;
}

::placeholder {
    color: black;
    transition: .5s;
}

.inputStyle:hover::placeholder {
    color: white;
    transition: .5s;
}

.avatarBtn {
    width: 100px;
    height: max-content;
    margin: 5px;
    font-size: 0.7rem;
}

.leftHoverBlock {
    width: 35%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: 7;
}

.rightHoverBlock {
    width: 35%;
    min-height: 100%;
    z-index: 7;
}

.eyesLookStraight {
    z-index: 5;
}

.eyesLookLeft {
    z-index: 6;
}

.eyesLookRight {
    z-index: 6;
}

.eyesClose {
    z-index: 6;
}

.statusSpan {
    color: black;
    font-size: .5rem;
}

/*-------------------------------------------------------------------*/

@media screen and (max-width: 860px) {
    .profileInfoWrapper {
        margin: 5px 0 0 0;
        border-radius: 3px 3px 0 0;
    }

    .avatarBtnWrapper {
        flex-direction: column;
    }

    .sameAvatarParams {
        top: 20%;
    }
}

@media screen and (max-width: 425px) {
    .spanWrapperActive {
        top: 75%;
        left: calc(50% - 100px);
        text-align: center;
        font-size: .8rem;
    }

    @keyframes spanWrapperActive {
        0% {
            position: absolute;
            top: 100%;
        }
        100% {
            position: absolute;
            top: 75%;
        }
    }
    .spanWrapperInactive {
        top: 100%;
        left: calc(50% - 100px);
        text-align: center;
        font-size: .8rem;
    }

    @keyframes spanWrapperInactive {
        0% {
            position: absolute;
            top: 75%;
        }
        100% {
            position: absolute;
            top: 100%;
        }
    }

    .closeBtnActive {
        font-size: 1rem;
    }
}

@media screen and (max-height: 690px) {
    .profileInfoWrapper {
        margin: 5px 0 0 0;
        border-radius: 3px 3px 0 0;
    }

    .sameAvatarParams {
        top: 25%;
        height: 50vh;
        min-width: 40vh;
        left: calc(50% - 20vh);
    }
}

@media screen and (max-height: 690px) and (max-width: 425px) {
    .sameAvatarParams {
        top: 20%;
        height: 40vh;
        min-width: 34vh;
        left: calc(50% - 17vh);
    }
}

@media screen and (max-height: 425px) {
    .sameAvatarParams {
        top: 27%;
        height: 40vh;
        min-width: 34vh;
        left: calc(50% - 17vh);
    }

    .selectedAva {
        top: 28%;
        min-width: 150px;
        height: 150px;
        border-radius: 100%;
        left: calc(50% - 75px);
    }

    @keyframes spanWrapperActive {
        0% {
            position: absolute;
            top: 100%;
        }
        100% {
            position: absolute;
            top: 65%;
        }
    }

    @keyframes spanWrapperInactive {
        0% {
            position: absolute;
            top: 65%;
        }
        100% {
            position: absolute;
            top: 100%;
        }
    }
}