.allDialogs {
    color: white;
    display: flex;
}

.dialogsArea {
    width: 50%;
    margin: 5px 10px 5px 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.13);
    padding: 10px;
}

.messageArea {
    width: 50%;
    margin: 5px 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.13);
    padding: 10px;
}

.newMessageArea {
    width: calc(100% - 20px);
    margin: 5px 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.13);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txtAreaBtn {
    padding: 10px;
    margin: 5px 0;
    background: rgba(57, 90, 119, 0.48);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addNewMessage {
    width: 30%;
    background: rgba(57, 90, 119, 0.42);
    color: white;
    border-radius: 3px;
    border: 1px solid white;
    transition: .5s;
    margin: 10px 40px;
}

.addNewMessage:hover {
    background: rgba(57, 90, 119, 0.9);
    transition: .5s;
}

::placeholder {
    color: black;
    transition: .5s;
}

.addNewMessage:hover::placeholder {
    color: white;
    transition: .5s;
}

.btnStyle {
    min-width: 20%;
    height: 50%;
    background: rgba(57, 90, 119, 0.35);
    color: black;
    border-radius: 3px;
    font-family: 'Syne Tactile', cursive;
    transition: .3s;
    align-self: center;
    margin: 10px 20px;
}

.btnStyle:hover {
    background: rgba(57, 90, 119, 0.9);
    color: white;
    transform: scale(1.1);
    transition: .3s;
}
