.app-wrapper {
  position: relative;
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  min-height: 100vh;
  background-image: url("./img/main_background/main_bg.png");
  background-size: 100% 100%;
  grid-template-areas:
'h h'
'n c';
  grid-template-rows: 100px;
  grid-template-columns: 2fr 10fr;
}

img {
  max-width: 100%;
}

.app-wrapper-content {
  grid-area: c;
  margin: 0 5px 5px 0;
  border-radius: 5px;
  background: rgba(20, 19, 19, 0.36);
  padding: 10px;
  z-index: 5;
}




