* {
    box-sizing: border-box;
    color: burlywood;
    margin: 0;
    padding: 0;

}
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgba(57, 90, 119, 0.27);
}

*::-webkit-scrollbar-thumb {
    background: rgb(57, 90, 119);
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255);
}
@font-face {
    font-family: Righteous;
    src: url("../src/fonts/Righteous-Regular.ttf");
    font-display: swap;
}
body {
    margin: 0;
    font-family: 'Righteous', cursive;
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
}

h2 {
    color: black;
}

a {
    color: #de9e5e;
}

.app {
    overflow: hidden;
    display: grid;
    height: 100vh;
    background-image: url("./img/main_background/main_bg.webp");
    background-size: 100% 100%;
    grid-template-areas:'h h' 'n c';
    grid-template-rows: 12% 88%;
    grid-template-columns: 2fr 10fr;
}



.appWrapperContent {
    grid-area: c;
    margin: 0 5px 5px 0;
    border-radius: 5px;
    background: rgba(20, 19, 19, 0.36);
    padding: 10px;
    z-index: 5;
    align-self: stretch;
    justify-self: stretch;
}

.btnSameParams {
    background: rgb(57, 90, 119);
    color: burlywood;
    border-radius: 3px;
    transition: .3s;
    border: 2px solid rgba(0, 0, 0, 0.45);
}

.btnSameParams:hover {
    transform: scale(1.1);
    background: rgba(57, 90, 119, 0.27);
    color: white;
    transition: .3s;
    border: 2px solid rgb(255, 255, 255);
}

.inputSameParams {
    width: 100%;
    max-width: 300px;
    max-height: 55px;
    background: rgba(57, 90, 119, 0.42);
    color: white;
    border-radius: 3px;
    border: 1px solid #ffffff;
    transition: .3s;
}

.inputSameParams:hover {
    background: rgba(57, 90, 119, 0.9);
    transition: .3s;
}
::placeholder {
    color: black;
    transition: .5s;
}
.inputSameParams:hover::placeholder {
    color: white;
    transition: .5s;
}
img {
    max-width: 25%;
}
@media screen and (max-width: 860px) {
    .appWrapperContent {
        overflow: auto;
    }
}

@media screen and (max-width: 425px) {
    .app {
        display: grid;
        grid-template-areas:
    'h'
    'n'
    'c';
        grid-template-rows: 6% min-content calc(100% - (6% + 53px));
        grid-template-columns: 1fr;
        overflow: auto;
        font-size: .5rem;
    }

    .appWrapperContent {
        margin-left: 5px;
    }
}

@media screen and (max-height: 690px) {
    .appWrapperContent {
        overflow: auto;
    }
}
